{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}



{% block content %}
<main>

  <div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Slidewheel</h2>



    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a001' %}" role="button">a001</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a002' %}" role="button">a002</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a003' %}" role="button">a003</a></div>
    </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a004' %}" role="button">a004</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a005' %}" role="button">a005</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a006' %}" role="button">a006</a></div>
    </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a007' %}" role="button">a007</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a008' %}" role="button">a008</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a009' %}" role="button">a009</a></div>
    </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a010' %}" role="button">a010</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a011' %}" role="button">a011</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a012' %}" role="button">a012</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a013' %}" role="button">a013</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a014' %}" role="button">a014</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a015' %}" role="button">a015</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a016' %}" role="button">a016</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a017' %}" role="button">a017</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a018' %}" role="button">a018</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a019' %}" role="button">a019</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a020' %}" role="button">a020</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a021' %}" role="button">a021</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a022' %}" role="button">a022</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a023' %}" role="button">a023</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a024' %}" role="button">a024</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a025' %}" role="button">a025</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a026' %}" role="button">a026</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a027' %}" role="button">a027</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a028' %}" role="button">a028</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a029' %}" role="button">a029</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a030' %}" role="button">a030</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a031' %}" role="button">a031</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a032' %}" role="button">a032</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a033' %}" role="button">a033</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a034' %}" role="button">a034</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a035' %}" role="button">a035</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a036' %}" role="button">a036</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a037' %}" role="button">a037</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a038' %}" role="button">a038</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a039' %}" role="button">a039</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a040' %}" role="button">a040</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a041' %}" role="button">a041</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a042' %}" role="button">a042</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a043' %}" role="button">a043</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a044' %}" role="button">a044</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a045' %}" role="button">a045</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a046' %}" role="button">a046</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a047' %}" role="button">a047</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a048' %}" role="button">a048</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a049' %}" role="button">a049</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a050' %}" role="button">a050</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a051' %}" role="button">a051</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a052' %}" role="button">a052</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a053' %}" role="button">a053</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a054' %}" role="button">a054</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a055' %}" role="button">a055</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a056' %}" role="button">a056</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a057' %}" role="button">a057</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a058' %}" role="button">a058</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a059' %}" role="button">a059</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a060' %}" role="button">a060</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a061' %}" role="button">a061</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a062' %}" role="button">a062</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a063' %}" role="button">a063</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a064' %}" role="button">a064</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a065' %}" role="button">a065</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a066' %}" role="button">a066</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a067' %}" role="button">a067</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a068' %}" role="button">a068</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a069' %}" role="button">a069</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a070' %}" role="button">a070</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a071' %}" role="button">a071</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a072' %}" role="button">a072</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a073' %}" role="button">a073</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a074' %}" role="button">a074</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a075' %}" role="button">a075</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a076' %}" role="button">a076</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a077' %}" role="button">a077</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a078' %}" role="button">a078</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a079' %}" role="button">a079</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a080' %}" role="button">a080</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a081' %}" role="button">a081</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a082' %}" role="button">a082</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a083' %}" role="button">a083</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a084' %}" role="button">a084</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a085' %}" role="button">a085</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a086' %}" role="button">a086</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a087' %}" role="button">a087</a></div>
    </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a088' %}" role="button">a088</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a089' %}" role="button">a089</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a090' %}" role="button">a090</a></div>
    </div>
    </div>



      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a091' %}" role="button">a091</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a092' %}" role="button">a092</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a093' %}" role="button">a093</a></div>
    </div>
    </div>


      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a094' %}" role="button">a094</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a095' %}" role="button">a095</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a096' %}" role="button">a096</a></div>
    </div>
    </div>


`     <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="row mb-3">

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a097' %}" role="button">a097</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a098' %}" role="button">a098</a></div>

      <div class="col-6 col-sm-4 themed-grid-col">
      <label for="input1">Album</label>
            <a class="btn btn-primary" href="{% url 'album_a099' %}" role="button">a099</a></div>
    </div>
    </div>











</main>





<main>
  <h1 class="visually-hidden">Features examples</h1>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Hanging icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Custom cards</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>4d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Icon grid</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Features with title</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary btn-lg">Primary button</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}