{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}



{% block content %}


      <h1>The CSS float Property</h1>
      <section>
         <div class="left">1</div>
         <div class="left">2</div>
         <div class="right">3</div>
         <p> keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning! keep learning!  </p>
      </section>

{% endblock %}